@model BookDataAccessLayer.Models.Book

@{
    ViewBag.Title = "Delete";
}


<h4>Are you sure you want to delete this Book?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(BookDataAccessLayer.LocalResource.Resource.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayName(BookDataAccessLayer.LocalResource.Resource.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayName(BookDataAccessLayer.LocalResource.Resource.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayName(BookDataAccessLayer.LocalResource.Resource.CoverImage)
        </dt>

        @if (!string.IsNullOrEmpty(Model.CoverImage))
        {
            <dd>
                <img src="@Url.Content(@Model.CoverImage)" width="100px" height="150px" />
            </dd>
        }


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index",null, new {@class = "btn btn-primary"})
        </div>
    }
</div>
